/* GENERAL ACROSS ALL PAGES */
.button{
  -fx-text-fill: #82c343;
  -fx-background-color: #363636;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

#backDrop{
  -fx-opacity: .9;
  -fx-background-color: #bdc3c6;
}
.text-field{
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

.text{
  -fx-text-fill: #000000;
}

.combo-box{
  -fx-text-fill: #000000;

}

.tool-bar{
  -fx-background-color: #363636;
}

.label{
  -fx-text-fill: #000000;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}


.password-field{
  -fx-text-fill: #0c590f;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 1);
}

.choice-box{
  -fx-background-color: #787878;
}

#drawer{
 /* -fx-background-image: url("Background/DarkTheme/login.jpg"); */
}

/* ADD PAYMENTS PAGE */
#addPaymentBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

/* APPOINTMENTS PAGE */
#appointmentsBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

#scheduledPickUps{

}

/* EDIT PAGE */
#editBackground{
  -fx-background-image: url("Background/DarkTheme/backgroundDark.jpg");
}

#driverPassenger{
  -fx-text-fill: #82c343;
}

#gender{
  -fx-text-fill: #82c343;
}

/* FAVOURITES PAGE */
#favouritesBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

#favouritesTable{

}

/* FORGOT EMAIL PAGE */
#forgotEmailBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

#forgotEmailStatus{

}

/* FORGOT PASSWORD PAGE */
#forgotPasswordBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

#forgotPassStatus{

}

#forgotPasswordStatus{

}

/* HOME PAGE */
#homeBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

/* LOGIN PAGE */
#loginBackground{
  -fx-background-image: url("Background/DarkTheme/backgroundDark.jpg");
}

#statusText{

}

/* PAYMENTS PAGE */
#paymentBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

#backdrop{
  -fx-opacity: .9;
  -fx-background-color: #bdc3c6;
}

/* PROFILE PAGE */
#profileBackground{
  -fx-background-image: url("Background/DarkTheme/backgroundDark.jpg");
}

.toggle-button{
  -fx-text-fill: #82c343;
  -fx-background-color: #363636;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 1);
}

/* RESET PASSWORD PAGE */
#resetBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

/* SCHEDULE PAGE */
#scheduleBackground{
  -fx-background-image: url("Background/DarkTheme/testback2.jpg");
}

/* SIGN UP PAGE */
#signUpBackground{
  -fx-background-image: url("Background/DarkTheme/backgroundDark.jpg");
}
